# Intellij configuration files
.idea
**/*.iml

# Build files
**/target
**/.flattened-pom.xml

# Release files
release.properties

# Generated certificates for externalized docker (localdev)
localdev
src/test/resources/oauth2/certs/rootCA/rootCA.srl